
html {
  scroll-behavior: smooth;
}

body {
  font-family: Proxima Nova Regular,Helvetica,san-serif;
  margin: 0;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #000;
    background:#25373d;
   
    padding: 80px;
    
  }

#header h1 {
  font-size: 40px;
}

#time_block {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  color: #FFF;
  justify-content: center;
  text-align: center;
}

.look-calendar {
  width:220px;
  height: 100%;
  border:1px solid #c0c0c0;
  padding:6px;
  margin: 0 auto;    
}
#calendar {
  width: 100%;
  height: 160px;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
  border-spacing:0px;
}
#calendar tr.dn td {
  font-size: 15px;
}
#calendar thead tr:last-child {
  font-size: small;
  color: #FFF;
}
#calendar thead tr:nth-child(1) td:nth-child(2) {
  color: #FFF;
}
#calendar thead tr:nth-child(1) td:nth-child(1):hover,
#calendar thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}
#calendar tbody td {
  color: #97b1c7;
}
#calendar tbody td:nth-child(n+6),
#calendar .holiday {
  color: #e40013;
}
#calendar tbody td.today {
  background: #dc0000;
  color: #fff;
}

#navbar {
  overflow:hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  background-color: #25373d;
}

#navbar a {
    display: block;
    float: left;
    text-transform: uppercase;
    line-height: 50px;
    height: 50px;
    width: 20%;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 100px 0 #FFF,1px 76px 10px #000;
    color: #000;
    background: #25373d;
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#navbar a:hover {
    text-shadow: 0 50px 0 #FFF, 1px 51px 20px #FFF;
    margin-top: -50px;
    height: 100px;
    background: #ff0000;
}

#resume {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}


#bio {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
#hobby{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

#taskjs {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  
}

.collapsible {
  background-color: #25373d;
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: left;
  outline: none;
  border-radius: 20px;
  font-size: 20px;
}

.active, .collapsible:hover{
  background-color: #ff0000;
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
}

.collapsible:after {
  content: '\02795'; 
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2796';
}


.content{
  padding: 0 18px;
  max-height: 0;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 50%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #25373d;
  border-radius: 20px;
  color: #ff0000;
}

.side {
  flex: 30%;
  background-color: #D3D3D3  ;
  padding: 20px;
}

.main {
  flex: 60%;
  text-align: center;
  background-color: white;
  padding: 20px;
}



#footer {
  padding: 20px;
  text-align: center;
  width: 100%;
  background: #25373d;
}

#footer img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}




