body {
  font-family: Proxima Nova Regular,Helvetica,san-serif;
  margin: 0;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #000;
    background:#213838;
    padding: 80px;
    
  }

#header h1 {
  font-size: 40px;
}

#time_block {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  color: #000;
  justify-content: center;
  text-align: center;
}

#navbar {
  overflow:hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  background-color: #253f3f;
}

#navbar a {
    display: block;
    float: left;
    text-transform: uppercase;
    line-height: 50px;
    height: 50px;
    width: 20%;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 100px 0 #FFF,1px 76px 10px #000;
    color: #000;
    background: #253f3f;
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#navbar a:hover {
    text-shadow: 0 50px 0 #FFF, 1px 51px 20px #FFF;
    margin-top: -50px;
    height: 100px;
    background: rgb(255, 1, 1);
}

#resume {
  display: flex;
  flex-wrap: wrap;
}

#bio {
  display: flex;
  flex-wrap: wrap;
}

#taskjs {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%;
  background-color: #D3D3D3  ;
  padding: 20px;
}

.main {
  flex: 60%;
  text-align: center;
  background-color: white;
  padding: 20px;
}

#footer {
  padding: 20px;
  text-align: center;
  background: #213838;
}

